{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <header>{% include "template.html" %}</header>
  </head>

  <body>

    <section class="form">
      <div class="container">
        <h2 class="text-center" id="guestform">Guest Form</h2>
        <h4 class="text-center">Please fill out, let know each other</h4>
        <h3><br></h3>
        <form class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-2 control-label">Name :</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="text" placeholder="Enter your name here" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Date :</label>
          <div class="col-sm-10">
            <input class="form-control"  type="date" id="date" required="">
            </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Email :</label>
          <div class="col-sm-10">
            <input class="form-control" type="email" id="email" placeholder="Enter your email here" required="">
            </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Subject :</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Enter your subject here" required="">
            </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Message :</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="10" id="Message" placeholder="Enter your message here" required=""></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary center-block">Submit</button>
      </form>
    </div>
    </section>

    <footer>
      <div class="container">
        <div class="col-sm-12">
          <p class="text-center"><br><br>Muhammad Khatami - PPW - 2018</p>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
