{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <header>{% include "template.html" %}</header>    
  </head>
  <body>

    <div class="jumbotron text-center">
      <img src="https://instagram.fcgk4-2.fna.fbcdn.net/vp/004bad19d0d08de4b989ae9580e3bef1/5C332D27/t51.2885-15/e35/19954933_244311236083365_9217362260916174848_n.jpg" class="img-square">
      <h1>Muhammad Khatami</h1>
      <p>Hey! I'm <strong>Muhammad Khatami</strong>. You can call me <strong>Amik</strong>. I'm 18 years old.<br>
      Now I'm in third semester at the Faculty of Computer Science University of Indonesia. <br>
      Right now, I do coding for my living. Every single line of code that I learn teach <br> me how to think and solve almost every problem.</p>
    </div>

    <section class="recordandprofile" id="profile">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">My Profile</h2>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <h3 class="text-center">
              Name : Muhammad Khatami<br>
              Born Date : 25 January 2000<br>
              Born Place : Palembang<br>
              Hobby : Swimming
            </h3>
          </div>
          <div class="col-sm-6">
            <h3 class="text-center">
              ES : SD ISLAM AZ-ZAHRA<br>
              JHS : SMPN 1 Palembang<br>
              SHS : SMAN 17 Palembang<br>
              Bachelor : Information System University of Indonesia
            </h3>
          </div>
        </div>

      </div>
    </section>

    <section class="skill" id="skill">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="text-center">My Skill</h2>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 text-center">
            <a href="http://www.css3.info/" class="thumbnail">
              <img src="{% static "images/skill/1.png" %}">
            </a>
          </div>

          <div class="col-sm-3 text-center">
            <a href="https://html.com/" class="thumbnail">
              <img src="{% static "images/skill/2.png" %}">
            </a>
          </div>

          <div class="col-sm-3 text-center">
            <a href="https://www.python.org/" class="thumbnail">
              <img src="{% static "images/skill/3.png" %}">
            </a>
          </div>

          <div class="col-sm-3 text-center">
            <a href="https://www.java.com/en/" class="thumbnail">
              <img src="{% static "images/skill/4.png" %}">
            </a>
          </div>

        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="text-center">Contact</h2>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 text-center">
            <a href="https://plus.google.com/u/0/116237493901334360864" class="thumbnail">
              <img src="{% static "images/contact/1.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="" class="thumbnail">
              <img src="{% static "images/contact/2.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="https://www.instagram.com/ami_khatami/" class="thumbnail">
              <img src="{% static "images/contact/3.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="http://line.me/ti/p/~amikkhatami" class="thumbnail">
              <img src="{% static "images/contact/4.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="https://www.linkedin.com/in/muhammad-khatami-629b21147/" class="thumbnail">
              <img src="{% static "images/contact/5.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="https://api.whatsapp.com/send?phone=628117102501&amp" class="thumbnail">
              <img src="{% static "images/contact/6.png" %}">
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="col-sm-12">
          <p class="text-center"><br><br>Muhammad Khatami - PPW - 2018</p>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

  </body>
</html>