{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <header>{% include "template.html" %}</header>    
  </head>
  <body>

    

    <div class="jumbotron text-center">
      <img src="https://scontent-sin6-1.cdninstagram.com/vp/6e4724295bf3be61645ea404da6baa1e/5C2BA4E6/t51.2885-15/sh0.08/e35/s750x750/25037902_157071924939725_7436480636002500608_n.jpg" class="img-square">
      <h1>Abiyu M Akmal</h1>
      <p>
        I'm 19 years old. Now I'm in third semester at the Faculty of Computer Science University of Indonesia.<br>I love visual design as much as i love< my family.
      </p>
    </div>

    <section class="recordandprofile" id="profile">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">My Profile</h2>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <h3 class="text-center">
              Name : Abiyu Muhammad Akmal<br>
              Born Date : 31 July 1999<br>
              Born Place : Lubuk Linggau<br>
              Hobby : Visual Design
            </h3>
          </div>
          <div class="col-sm-6">
            <h3 class="text-center">
              ES : SD 16 Lubuk Linggau<br>
              JHS : SMPN 1 Bogor<br>
              SHS : SMAN 1 Bogor<br>
              Bachelor : Information System University of Indonesia
            </h3>
          </div>
        </div>

      </div>
    </section>

    <section class="skill" id="skill">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="text-center">My Skill</h2>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 text-center">
            <a href="http://www.css3.info/" class="thumbnail">
              <img src="{% static "images/skill/1.png" %}">
            </a>
          </div>

          <div class="col-sm-2 text-center">
            <a href="https://html.com/" class="thumbnail">
              <img src="{% static "images/skill/2.png" %}">
            </a>
          </div>

          <div class="col-sm-2 text-center">
            <a href="https://www.python.org/" class="thumbnail">
              <img src="{% static "images/skill/3.png" %}">
            </a>
          </div>

          <div class="col-sm-2 text-center">
            <a href="https://www.java.com/en/" class="thumbnail">
              <img src="{% static "images/skill/4.png" %}">
            </a>
          </div>

          <div class="col-sm-2 text-center">
            <a href="https://www.java.com/en/" class="thumbnail">
              <img src="{% static "images/skill/5.png" %}">
            </a>
          </div>

          <div class="col-sm-2 text-center">
            <a href="https://www.java.com/en/" class="thumbnail">
              <img src="{% static "images/skill/6.png" %}">
            </a>
          </div>

        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="text-center">Contact</h2>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 text-center">
            <a href="" class="thumbnail">
              <img src="{% static "images/contact/1.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="" class="thumbnail">
              <img src="{% static "images/contact/2.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="https://www.instagram.com/abiyouakmal/" class="thumbnail">
              <img src="{% static "images/contact/3.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="http://line.me/ti/p/~abiyouakmal" class="thumbnail">
              <img src="{% static "images/contact/4.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="https://www.linkedin.com/in/abiyu-muhammad-akmal-42098314b/" class="thumbnail">
              <img src="{% static "images/contact/5.png" %}">
            </a>
          </div>

          <div class="col-sm-4 text-center">
            <a href="https://api.whatsapp.com/send?phone=628561944421&amp" class="thumbnail">
              <img src="{% static "images/contact/6.png" %}">
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="col-sm-12">
          <p class="text-center"><br><br>Muhammad Khatami - PPW - 2018</p>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>