{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <header>{% include "template.html" %}</header>    
  </head>
  <body>

    <section class="photo" id="photo">
      <div class="container">
        <h2 class="text-center">My photo</h2>
        <hr>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="{% static "images/photo/1.jpg" %}" style="width:100%;">
            </div>

            <div class="item">
              <img src="{% static "images/photo/2.jpg" %}" style="width:100%;">
            </div>
          
            <div class="item">
              <img src="{% static "images/photo/3.jpg" %}" style="width:100%;">
            </div>

            <div class="item">
              <img src="{% static "images/photo/4.jpg" %}" style="width:100%;">
            </div>

            <div class="item">
              <img src="{% static "images/photo/5.jpg" %}" style="width:100%;">
            </div>
            
            <div class="item">
              <img src="{% static "images/photo/6.jpg" %}" style="width:100%;">
            </div>

            <div class="item">
              <img src="{% static "images/photo/7.jpg" %}" style="width:100%;">
            </div>

          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="col-sm-12">
          <p class="text-center"><br><br>Muhammad Khatami - PPW - 2018</p>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    
  </body>

</html>