{% include "template.html" %}

{% load static %}

{% block title%}Schedules{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <header>{% include "template.html" %}</header>
  </head>

  <body>
    <section class="schedule">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="display-4 text-center">MY SCHEDULE</h1>
          <a href="{% url 'schedule_add' %}">
            <h4 class="display-4 text-center">add schedule</h4>
          </a>
          <a href="{% url 'deleteAll' %}">
            <h4 class="display-4 text-center">delete all</h4>
          </a>
        </div>
      </div>

      <div class="article">
          <a href="{% url 'schedule' %}"></a>
          <div class="article">
              <div class="row">
                  {% for schedule in schedules %}
                      <div class="col-sm-3 text-center">
                          <h2>{{ schedule.activity }}</h2>
                          <p>{{ schedule.date.date }}</p>
                          <p>{{ schedule.time}}</p>
                          <p>{{ schedule.place }}</p>
                          <p>{{ schedule.category }}</p>
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

  </body>


{% endblock %}
