{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>About Muhammad Khatami</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

	</head>

  <body>
	  <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	            <span class="sr-only">Toggle Navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a href="{% url 'index' %}" class="navbar-brand">MUHAMMAD KHATAMI</a>
	        </div>

	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="{% url 'photo' %}">Photos</a></li>
	            <li><a href="{% url 'guestform' %}">Guest Form</a></li>
	            <li><a href="{% url 'myfriend' %}">My Friend - abiyu</a></li>
              <li><a href="{% url 'schedule' %}">Schedule list</a></li>
	          </ul>
	        </div>
	      </div>
	    </nav>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "js/script.js" %}"></script>

	</body>
</html>
