html {
	position: relative;
}

body {
	margin-bottom: 100px;
	margin-top: 30px;
}

.navbar {
	background-color: #00142B;
	height: 40px;
}

.jumbotron {
	background-color: #E4F4FF;
}
.jumbotron img {
	width: 450px;
}
.recordandprofile hr {
	width: 250px;
	border-top: 2px solid #333;
}

section {
	min-height: 350px;
}

.skill {
	background-color: #E4F4FF;
}

.skill hr {
	width: 250px;
	border-top: 2px solid #333;
}

.skill img {
	width: 100px;
}

.contact hr {
	width: 250px;
	border-top: 2px solid #333;
}
.contact img {
	width: 100px;
}
.photo {
	background-color: #E4F4FF;
}
.photo hr {
	width: 250px;
	border-top: 2px solid #333;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #E4F4FF;
}

.schedule {
	background-color: #E4F4FF;
}
